.container
  %article.column
    %h2 Pending
    .dropzone
      - @pending.each do |candidate|
        %article.candidate
          %h3= candidate.name
          = form_for(candidate) do |f|
            = hidden_field :candidate, :status, value: 'interviewed'
            = f.submit 'Mark as interviewed'
      = paginate @pending, param_name: 'pending'

  %article.column
    %h2 Interviewed
    .dropzone
      - @interviewed.each do |candidate|
        %article.candidate
          %h3= candidate.name
          = form_for(candidate) do |f|
            = hidden_field :candidate, :status, value: 'hired'
            = f.submit 'Mark as hired'
      = paginate @interviewed, param_name: 'interviewed'

  %article.column
    %h2 Hired
    .dropzone
      - @hired.each do |candidate|
        %article.candidate
          %h3= candidate.name
          = form_for(candidate) do |f|
            = hidden_field :candidate, :status, value: 'archived'
            = f.submit 'Mark as archived'
      = paginate @hired, param_name: 'hired'
