!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Eudaemonia
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      Header
      %nav.main-nav
        %ul.navigation
          %li= link_to("Dashboard con Stimulus", dashboard_con_stimulus_path, data: {:"turbolinks-action" => "replace"})
          %li= link_to("Dashboard con React", dashboard_con_react_path, data: {:"turbolinks-action" => "replace"})
          %li= link_to("Nuevo candidato", new_candidate_path, data: {:"turbolinks-action" => "replace"})
          %li= link_to("Reports", reports_path, data: {:"turbolinks-action" => "replace"})
      %p.notice= notice
      %p.alert= alert
    #main
      %article
        = yield
    %footer Footer
